<div class="dashboard">
    <mat-card class="patient-card">
        <mat-icon class="icon">face</mat-icon>
        <mat-card-header>
            <div mat-card-title>Total Patients</div>
        </mat-card-header>
        <mat-card-content>
            <h4>{{ patientCount }}</h4>
        </mat-card-content>
    </mat-card>
</div>

<div class="dashboard">
    <mat-card class="staff-card">
        <mat-icon class="icon">people</mat-icon>
        <mat-card-header>
            <div mat-card-title>Total Staffs</div>
        </mat-card-header>
        <mat-card-content>
            <h4>{{ staffCount }}</h4>
        </mat-card-content>
    </mat-card>
</div>

<div class="dashboard">
    <mat-card class="department-card">
        <mat-icon class="icon">business</mat-icon>
        <mat-card-header>
            <div mat-card-title>Total Departments</div>
        </mat-card-header>
        <mat-card-content>
            <h4>{{ departmentCount }}</h4>
        </mat-card-content>
    </mat-card>
</div>

<div class="dashboard">
    <mat-card class="doctor-card">
        <mat-icon class="icon">people</mat-icon>
        <mat-card-header>
            <div mat-card-title>Total Doctors</div>
        </mat-card-header>
        <mat-card-content>
            <h4>{{ doctorCount }}</h4>
        </mat-card-content>
    </mat-card>
</div>

<div class="dashboard">
    <mat-card class="supplier-card">
        <mat-icon class="icon">people</mat-icon>
        <mat-card-header>
            <div mat-card-title>Total Suppliers</div>
        </mat-card-header>
        <mat-card-content>
            <h4>{{ supplierCount }}</h4>
        </mat-card-content>
    </mat-card>
</div>

<div class="dashboard">
    <mat-card class="ward-card">
        <mat-icon class="icon">business</mat-icon>
        <mat-card-header>
            <div mat-card-title>Total Wards</div>
        </mat-card-header>
        <mat-card-content>
            <h4>{{ wardCount }}</h4>
        </mat-card-content>
    </mat-card>
</div>
