<!--
<main class="main row">
    <aside class="col-md-1">
        <div>
               <a class="btn btn-outline-info" routerLink="/">Home Page</a>
           </div>
           <div>
               <a class="btn btn-outline-info" routerLink="/DepartmentList">Departments</a>
           </div>

           <div>
               <a class="btn btn-outline-info" routerLink="/DoctorList">Doctors</a>
           </div>

           <div>
               <a class="btn btn-outline-info" routerLink="/PatientList">Patients</a>
           </div>

           <div>
               <a class="btn btn-outline-info" routerLink="/WardList">Wards</a>
           </div>

           <div>
               <a class="btn btn-outline-info" routerLink="/NurseList">Nurses</a>
           </div>

           <div>
               <a class="btn btn-outline-info" routerLink="/AppointmentList">Appointments</a>
           </div>

           <div>
               <a class="btn btn-outline-info" routerLink="/EmergencyList">Emergencies</a>
           </div>

           <div>
               <a class="btn btn-outline-info" routerLink="/AdmissionList">Admissions</a>
           </div>

           <div>
               <a class="btn btn-outline-info" routerLink="/DischargeList">Discharges</a>
           </div>

           <div>
               <a class="btn btn-outline-info" routerLink="/SupplierList">Suppliers</a>
           </div>

           <div>
               <a class="btn btn-outline-info" routerLink="/StaffList">Staffs</a>
           </div>

           <div>
               <a class="btn btn-outline-info" routerLink="/BillingList">Billing</a>
           </div>

           <div>
               <a class="btn btn-outline-info" routerLink="/TransactionList">Transactions</a>
           </div>



        <div>
            <a class="btn btn-outline-info" routerLink="/Dashboard">Dashboard</a>
        </div>



        <div *ngIf="login">
            <ul class="navbar-nav right">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">{{user.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#" (click)="logout()">Logout</a>
                </li>
            </ul>

        </div>
        <div *ngIf="!login">
            <ul class="navbar-nav right">
                <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="/Register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="/login">Login</a>
                </li>
            </ul>
        </div>
    </aside>


    <article class="col-md-11">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d9534f; background-image: linear-gradient(315deg, #d1534f 0%, #3f9cac 74%);">
            <a class="btn btn-outline-info" routerLink="/">Home</a>
            <a class="btn btn-outline-info" routerLink="/DepartmentList">Departments</a>
            <a class="btn btn-outline-info" routerLink="/DoctorList">Doctors</a>
            <a class="btn btn-outline-info" routerLink="/PatientList">Patients</a>
            <a class="btn btn-outline-info" routerLink="/WardList">Wards</a>
            <a class="btn btn-outline-info" routerLink="/NurseList">Nurses</a>
            <a class="btn btn-outline-info" routerLink="/AppointmentList">Appointments</a>
            <a class="btn btn-outline-info" routerLink="/EmergencyList">Emergencies</a>
            <a class="btn btn-outline-info" routerLink="/AdmissionList">Admissions</a>
            <a class="btn btn-outline-info" routerLink="/DischargeList">Discharges</a>
            <a class="btn btn-outline-info" routerLink="/SupplierList">Suppliers</a>
            <a class="btn btn-outline-info" routerLink="/StaffList">Staffs</a>
            <a class="btn btn-outline-info" routerLink="/BillingList">Billing</a>
            <a class="btn btn-outline-info" routerLink="/TransactionList">Transactions</a>

        </nav>
        <hr />


        <router-outlet></router-outlet>
    </article>
</main>




 -->






<app-main></app-main>
