<form #Form="ngForm" (submit)="OnSubmit()">
    <h2>Patient Create</h2>

    <div class="form-group row">
        <label for="name" class="col-md-4 required">Patient Name: </label>
        <input type="text"
               id="name"
               name="name"
               class="form-control-sm  col-md-8"
               required
               [(ngModel)]="model.name"
               #patName="ngModel" />
        <div *ngIf="patName.invalid && (patName.dirty && patName.touched)"
             class="alert">
            Enter a valid name.
        </div>
    </div>
   

    <div class="form-group row">

        <label class="col-md-4 required">Gender: </label>
        <div class="col-md-8">
            @for (gender of genders; track gender; let index = $index) {
            <input type="radio" required
                   [(ngModel)]="model.gender" style="margin-left:15px" name="genders" [value]="gender" [id]="gender+index" />

            <label for="{{gender+index}}" style="margin-left:8px; margin-right:10px">{{gender}}</label>
            }
        </div>




        <!-- <label for="name" class="col-md-4">Gender: </label> -->
        <!--  <select name="genders"
                class="form-control-sm col-md-8"
                required
                [(ngModel)]="model.gender">
            <option *ngFor="let gender of genders" [value]="gender">
                {{gender}}
            </option>
        </select> -->

    </div>

    <div class="form-group row">
        <label for="name" class="col-md-4 required">Age: </label>
        <input type="number"
               id="age"
               name="age"
               class="form-control-sm  col-md-8"
               required
               [(ngModel)]="model.age"
               #patAge="ngModel" />
        <div *ngIf="patAge.invalid && (patAge.dirty && patAge.touched)"
             class="alert">
            Enter your age.
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-md-4 required">Contact No: </label>
        <input type="text"
               id="contactNo"
               name="contactNo"
               class="form-control-sm  col-md-8"
               required
               [(ngModel)]="model.contactNo"
               #patContactNo="ngModel" />
        <div *ngIf="patContactNo.invalid && (patContactNo.dirty && patContactNo.touched)"
             class="alert">
            Enter your Contact Number.
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-md-4">Email: </label>
        <input type="email"
               id="email"
               name="email"
               class="form-control-sm  col-md-8"
               [(ngModel)]="model.email"
               #patEmail="ngModel" />
        <div *ngIf="patEmail.invalid && (patEmail.dirty && patEmail.touched)"
             class="alert">
            Enter your email.
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-md-4">Address: </label>
        <input type="text"
               id="address"
               name="address"
               class="form-control-sm  col-md-8"
               [(ngModel)]="model.address"
               #patAddress="ngModel" />
        <div *ngIf="patAddress.invalid && (patAddress.dirty && patAddress.touched)"
             class="alert">
            Enter your address.
        </div>
    </div>
    <div class="form-group row">
        <label for="Status" class="col-md-4">Status: </label>
        <input type="text"
               id="Status"
               name="Status"
               class="form-control-sm  col-md-8"
               [(ngModel)]="model.status"
               #patStatus="ngModel" />
        <div *ngIf="patStatus.invalid && (patStatus.dirty && patStatus.touched)"
             class="alert">
            Enter your Status.
        </div>
    </div>
    <div class="form-group row">
        <label for="ins" class="col-md-4">InsuranceInformation: </label>
        <input type="text"
               id="ins"
               name="ins"
               class="form-control-sm  col-md-8"
               [(ngModel)]="model.insuranceInformation"
               #patIns="ngModel" />
        <div *ngIf="patIns.invalid && (patIns.dirty && patIns.touched)"
             class="alert">
            Enter your InsuranceInformation.
        </div>
    </div>
    <div class="form-group row">
        <label for="bloodTypeID" class="col-md-4 required">BloodType: </label>
        <select id="bloodTypeID"
                name="bloodTypeID"
                class="form-control-sm  col-md-8"
                required
                [(ngModel)]="model.bloodTypeID"
                #patbloodTypeID="ngModel">
            <option *ngFor="let bl of bloodTypes" [value]="bl.bloodTypeId">
                {{bl.name}}
            </option>
        </select>
        <div *ngIf="patbloodTypeID.invalid && (patbloodTypeID.dirty && patbloodTypeID.touched)"
             class="alert">
            Select your BloodName.
        </div>
    </div>


    <hr />
    <button class="btn btn-success" type="submit" [disabled]="Form.invalid">Save</button>
    <a class="btn btn-outline-info" routerLink="/PatientList">Back</a>


</form>


