<form #Form="ngForm" (submit)="OnSubmit()">
    <h2>Department Edit</h2>

    <div class="form-group row">
        <label for="name" class="col-md-4 required">DepartmentName:</label>
        <input type="text"
               id="name"
               name="name"
               class="form-control-sm  col-md-8"
               required
               [(ngModel)]="model.name"
               #proName="ngModel" />
        <div *ngIf="proName.invalid && (proName.dirty && proName.touched)"
             class="alert">
            enter valid name
        </div>

    </div>


    <table class="table table-responsive-sm table-striped">
        <thead>
            <tr>
                <!-- <th>Name</th> -->
                <th>Name</th>
                <th>Specialization</th>
                <th>ContactNo</th>
                <th>Email</th>
                <th>Schedule</th>
                <th>Shift</th>
                <!-- <th>Image</th> -->
                <th>
                    <button type="button" class="btn btn-info" (click)="AddDoctor()">Add Doctor</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doctor of model.doctors; let i = index">
                <td class="form-group">
                    <input type="text"
                           name="name[{{i}}]"
                           class="form-control"
                           required
                           [(ngModel)]="doctor.name" />

                </td>
                <td class="form-group">
                    <input type="text"
                           name="specialization[{{i}}]"
                           class="form-control"
                           required
                           [(ngModel)]="doctor.specialization" />

                </td>
                <td class="form-group">
                    <input type="text"
                           name="contactNo[{{i}}]"
                           class="form-control"
                           required
                           [(ngModel)]="doctor.contactNo" />

                </td>
                <td class="form-group">
                    <input type="text"
                           name="email[{{i}}]"
                           class="form-control"
                           required
                           [(ngModel)]="doctor.email" />

                </td>
                <td class="form-group">
                    <input type="text"
                           name="schedule[{{i}}]"
                           class="form-control"
                           required
                           [(ngModel)]="doctor.schedule" />

                </td>
                <td class="form-group">
                    <select name="shift[{{i}}]"
                            class="form-control"
                            required
                            [(ngModel)]="doctor.shift">
                        <option *ngFor="let shift of shiftTypes" [value]="shift">
                            {{shift}}
                        </option>

                    </select>
                </td>
                <!-- <td class="form-group">
                    <input type="text"
                           name="image[{{i}}]"
                           class="form-control"
                           [(ngModel)]="doctor.image" />

                </td> -->

                <td>
                    <button type="button" class="btn btn-warning" (click)="DeleteDoctor(i)">Delete doctor</button>
                </td>
            </tr>
        </tbody>
    </table>


    <hr />
    <button class="btn btn-success" type="submit" [disabled]="Form.invalid">Save</button>
    <a class="btn btn-outline-info" routerLink="/DepartmentList">Back</a>


</form>
